# Toss Payments Configuration
# 클라이언트 키 (브라우저 노출 가능)
VITE_TOSS_CLIENT_KEY=test_ck_D5akZ08AnG579zX5Z273V5GE16ne
# 시크릿 키 (서버 전용, 절대 노출 금지)
TOSS_SECRET_KEY=test_sk_zYyZq67j18n5E9p5619V3n7zG0pX

# EmailJS Configuration
# 서비스 ID
VITE_EMAILJS_SERVICE_ID=
# 템플릿 ID
VITE_EMAILJS_TEMPLATE_ID=
# 퍼블릭 키
VITE_EMAILJS_PUBLIC_KEY=
